* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 30px;
    font-size: 75px;
    text-align: center;
}

#quemsou {
    position: relative;
    left: 10px;
    top: 50px;
}

h2 {
    margin: 70px 0 15px 10px;
    font-size: 50px;
}

#textoDescicao {
    position: relative;
    width: 38%;
    left: 30px;
    line-height: 1.5;
}

p {
    font-size: 25px;
}

img {
    position: absolute;
    top: 160px;
    right: 200px;
    width: 600px;
    border-radius: 40px;
    box-shadow: -10px 10px 15px rgb(109, 109, 109);
}

#estudei {
    position: relative;
    left: 25px;
    top: 140px;
}

#estudei h3 {
    font-size: 40px;
}

#estudei ul {
    font-size: 25px;
    margin: 15px 50px;
}

#estudei ul li {
    margin-top: 10px;
}

#galeria {
    position: relative;
    left: 30px;
    top: 185px;
    text-align: center;
    font-size: 35px;
}

#lista {
    position: relative;
    left: 25px;
    top: 250px;
    font-size: 30px;
}

.listaItems {
    position: relative;
    left: 55px;
    top: 260px;
}

.listaItems li {
    margin-top: 10px;
    font-size: 25px;
}

.listaItems p {
    font-size: 20px;
    line-height: 1.2;
}

.formContato h3 {
    position: relative;
    font-size: 35px;
    left: 20px;
    top: 300px;
}

.input {
    position: relative;
    top: 300px;
    left: 10px;
    margin: 45px;
}

.input-field {
    border: 0;
    padding: 4px;
    border-bottom: 3px solid rgb(99, 99, 99);
    color: rgb(153, 153, 153);
}

.input-label {
    position: relative;
    font-size: large;
    left: -175px;
    top: -25px;
}

.redes {
    position: relative;
    left: 20px;
    top: 315px;
}

.redes h3 {
    font-size: 35px;
}

.redes a {
    display: inline-block;
    color: rgb(50, 51, 119);
    font-size: 30px;
    margin: 50px 10px 0 10px;
}